<h1 id="title">Divine Beer</h1>
<h2 id="title">  ......        </h1>

<br>
<%= link_to "Login", new_session_path %>
<!-- <form class="pure-form button" action="/users/login" method="get">
<button type="submit" class="pure-button pure-button-primary">Login</button>
</form> --><br>

<div>
<form class="pure-form button" action="/users/new" method="get">
<button type="submit" class="pure-button pure-button-primary">Sign up</button>
</div>

<!-- #RF turn these into rails buttons: -->
<!-- <= button_to "New", action: "new" > -->


