
<form class="pure-form button form" action="/users/new" method="post">
  <label for="email">Email:</label>
  <input type="text" name="email" placeholder="email"><br>
  <label for="password">Password:</label>
  <input type="text" name="password" placeholder="password"><br>
  <label for="name">Name:</label>
  <input type="text" name="name" placeholder="name"><br>
  <label for="hometown">Hometown:</label>
  <input type="text" name="hometown" placeholder="hometown"><br>
  <label for="country">Country:</label>
  <input type="text" name="country" placeholder="country"><br>
  <button type="submit" class="pure-button pure-button-primary">Sign up</button>

</form>
